/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Body ===== */
body {
  background-color: #121212;
  font-family: Arial, sans-serif;
  color: white;
}

/* ===== Headings ===== */
#dada{
  color: blue;
}
/* #chacha{
  color: red;
} */