/* ===== Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Body ===== */
body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: white;
}

.page-1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(23, 201, 201);
}

.page-2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(201, 53, 23);

}

.page-3 {
    height: 100vh;
    width: 100%;
    background-color: rgb(228, 173, 9);
}